%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin text($color, $ff, $fz, $fs, $fw, $lh, $ls){
    color: $color;
    font-family: $ff;
    font-size: $fz;
    font-style: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}