@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500;600;700&family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-list-color: #212832;
$font-main-color: #5E6282;
$font-main-title-color: #181E4B;
$font-title-color: #14183E;
$font-button-color: #FFF;
$font-table-color: #080809;
$font-email-color: #39425D;
$font-extra-color: #686D77;
$font-accent-color: #DF6951;
$font-blue-color: #1E1D4C;
$font-trip-color: #84829A;
$font-rome-color: #8A79DF;
$font-chris-color: #4E4E73;
$font-modal-bg: #d9d9d9;

$font-family-list:'Open Sans', sans-serif;
$font-family-main:'Poppins', sans-serif;
$font-family-once:'Montserrat', sans-serif;;
$font-family-title:'Volkhov', serif;
$font-family-decore: 'Roboto', sans-serif;

$button-bgcolor: yellow;